.home-grid {
    display: grid;
    display: -ms-grid;
    grid-template-columns: auto auto auto;
    -ms-grid-columns: auto auto auto;
    width: 100%;
}

.home-grid-1 {
    grid-column: 1;
    -ms-grid-column: 1;
}

.home-grid-2 {
    grid-column: 2;
    -ms-grid-column: 2;
}

.home-grid-3 {
    grid-column: 3;
    -ms-grid-column: 3;
}

.home-grid-image {
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: top left;
}
