@import url('https://fonts.googleapis.com/css?family=PT+Sans|VT323');

@font-family: 'PT Sans', sans-serif;
@font-family: 'VT323', monospace;

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/***** Color Reference *****/
/* Darkest (Navy blue) : 0E2431 */
/* Dark (Red) : FC3A52 */
/* Light (Yellow) : F9B248 */
/* Lightest (Beige) : E8D5B7 */

body {
    font-family: 'PT Sans';
    font-size: 16pt;
    background-color: #FC3A52;
    color: #0E2431;
}

main {
    margin-top: 75px;
}

a {
    color: #F9B248;
    text-decoration: underline;
}

a:hover {
    color: #FC3a52;
}

h1, h2, h3 {
    font-family: 'VT323';
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 1.7em;
}

/***** Navigation *****/
nav {
    position: fixed;
    left: 10px;
    top: 0px;
    font-family: 'VT323';
    background: #0E2431;
    padding: 10px;
    border-radius: 0px 0px 15px 15px;
    width: 170px;
    font-size: 1.2em;
    z-index: 99999;
}

.nav-link {
    text-decoration: none;
    line-height: 30px;
    color: #F9B248;
}

#nav-hide {
    display: none;
}

/***** Page Sections *****/
.page-header {
    background: #E8D587;
    padding: 10px 10%;
}
