pre {
  display: block;
  font-family: monospace;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid #908781;
  border-radius: 10px;
  background-color: #ffa667;
  max-width: 100%;
}

body {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  background-color: #ff8c3a;
}

img {
  border: 1px solid black;
  max-width: 100%;
  max-height: 100%;
  resize: inherit;
}

div.wrapper {
  background-color: #ffffff;
  margin-left: 10%;
  margin-right: 10%;
  padding: 3%;
  border-radius: 10px;
}

div.footer {
  margin-left: 10%;
  magin-right: 10%;
  font-size: smaller;
  padding: 1%;
}

div.nav {
  font-size: 1vw;
}

h1 {
  color: #3f5143;
}

h2, h3 {
  color: #386861;
}

p {
  color: #908781;
}

p.code {
  color: #000000;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
}

a:link, a:visited {
  color: #28a090;
  text-decoration: none;
}

a:hover {
  color: #908781;
  text-decoration: underline;
}
